<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--第一部分-->
<div th:insert="~{head::head}"></div>

<!--第二部分-->
<div style="display: flex">
    <div th:insert="~{menu::menu}" style="width: 10%"></div>

    <div class="right">
        <div class="location">
            <strong>当前位置:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="supplierAdd">
            <form id="userForm" name="userForm" method="post" th:action="@{Update_User}">
                <input type="hidden" name="id"/>
                <div>
                    <label for="account">账号：</label>
                    <input type="text" readonly name="account" id="account" th:value="${UserUpdate.get(0).account}">
                    <font color="red"></font>
                </div>
                <div>
                    <label for="realName">真实姓名：</label>
                    <input type="text" name="realName" id="realName" th:value="${UserUpdate.get(0).realName}">
                    <font color="red"></font>
                </div>
                <div>
                    <label >性别：</label>
                    <select id="sex" name="sex">
                        <option th:selected="${{UserUpdate.get(0).sex}} eq '1'" value="女">女</option>
                        <option th:selected="${{UserUpdate.get(0).sex}} eq '2'" value="男">男</option>
                    </select>
                </div>
                <div>
                    <label for="birthday">出生日期：</label>
                    <input type="text" Class="Wdate" id="birthday" name="birthday" th:value="${#dates.format(UserUpdate.get(0).birthday,'yyyy-MM-dd')}"  pattern="yyyy-MM-dd"
                    readonly="readonly" onclick="WdatePicker();">
                    <font color="red"></font>
                </div>

                <div>
                    <label for="phone">手机号码：</label>
                    <input type="text" name="phone" id="phone" th:value="${UserUpdate.get(0).phone }">
                    <font color="red"></font>
                </div>
                <div>
                    <label for="address">地址：</label>
                    <input type="text" name="address" id="address" th:value="${UserUpdate.get(0).address }">
                </div>
                <div>
                    <label >角色：</label>
                    <!-- 列出所有的角色分类 -->
<!--                    <input type="hidden" value="${sysUser.roleId }" id="rid" />-->
                    <select name="roleId" id="roleList">
                        <option th:selected="${{UserUpdate.get(0).roleId.id}} eq '1'" value="系统管理员">管理员</option>
                        <option th:selected="${{UserUpdate.get(0).roleId.id}} eq '2'" value="经理">经理</option>
                        <option th:selected="${{UserUpdate.get(0).roleId.id}} eq '3'" value="店长">店长</option>
                        <option th:selected="${{UserUpdate.get(0).roleId.id}} eq '4'" value="小员工">小员工</option>
                    </select>

                    <font color="red"></font>
                </div>
                <div class="supplierAddBtn">
                    <input type="submit" name="save" id="save" value="保存" />
                    <input type="button" id="back" name="back" value="返回"/>
                </div>
            </form>
        </div>
    </div>


</div>

<!--第三部分-->
<div th:insert="~{foot::foot}"></div>


</body>
</html>