<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
</head>
<body th:fragment="menu">
<div class="publicMian">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>菜单 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a th:href="@{storageRecord}" >入库记录信息</a></li>
                <li><a th:href="@{ShopList}">供货商信息</a></li>
                <li><a th:href="@{aaa}">用户信息</a></li>
                <li><a th:href="@{UserAdmin}">角色管理</a></li>
                <li><a th:href="@{updatePassword}">修改密码</a></li>
                <li><a th:href="@{OutLogin}">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <!-- <input type="hidden" id="path" name="path" value="${pageContext.request.contextPath }"/>
 <input type="hidden" id="referer" name="referer" value="<%=request.getHeader("Referer")%>"/> -->
</div>
</body>
</html>