<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--第一部分-->
<div th:insert="~{head::head}"></div>

<!--第二部分-->
<div style="display: flex">
    <div th:insert="~{menu::menu}" style="width: 10%"></div>
    <div class="right">
        <div class="location">
            <strong>当前位置:</strong>
            <span>入库记录管理页面 >查看详情</span>
        </div>
        <div class="supplierView">
            <p><strong>入库编号：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>商品名称：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>入库数量：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>商品单位：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>总金额：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>供货商：</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></p>
            <p><strong>付款状态：</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>未付款</span>
            </p>
            <div class="supplierAddBtn">
                <input type="button" id="back" name="back" value="返回" >
            </div>
        </div>
    </div>
</div>

<!--第三部分-->
<div th:insert="~{foot::foot}"></div>

<script type="text/javascript" th:src="@{js/storageRecord/view.js}"></script>


</body>
</html>